.instatenav{
    width: 100vw;
    max-width: 100vw;
    height: 10vh;
    background-color: #902bf5;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* dark:#3a3153 */
.instatenav button{
    /* background-color: white; */
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* border: none; */
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #3a3153;
    border:1px solid white;
    border-radius: 5px;
}
.instatenav button:hover{
    cursor: pointer;
}
.instatenav .path{
    font-size: 1.5rem;
    /* font-style: oblique; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.opinstate{
    width: 100vw;
    /* padding:2vh; */
    height: 7vh;
    /* padding-top: 2vh; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #902bf5;
}
.opinstate div{
    width: 16vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    /* border: 1px solid #3a3153; */
    /* border-radius: 5px; */
    /* background-color: #902bf5; */
}
.opinstate div button{
    /* background-color: #902bf5; */
    border: none;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    color: white;
    height: 100%;
}
.opinstate button:hover{
    cursor: pointer;
    /* background-color: #3a3153; */
}
