.addbtnimg{
    position: fixed;
    width: 4rem;
    height: 4rem;
    border-radius: 50% 50%;
    background-color: blueviolet;
    bottom: 9vh;
    right: 3vw;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.addbtnimg:hover{
    cursor: pointer;
}
.imgs{
    margin: 4vw;
}
.imgadd{
    width: 100vw;
    height: 79vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.imgadd>div>input{
    font-size: 1rem;
    /* display: block; */
}
.imgadd>div>button{
    font-size: 1rem;
    padding: 0.5rem;
    background-color: purple;
    color: white;
    margin: 4vw;
    border-radius: 10px;
}